.dxc-ayu-dark {
  background: #0d1017;
  --bg: #0d1017;
  --surface: #20232a;
  color: #bfbdb6;
  --fg: #bfbdb6;
  --accent: #ffb454;
  --muted: #626a73;
}
.dxc-ayu-dark a-co { color: #d2a6ff; }
.dxc-ayu-dark a-cb { color: #d2a6ff; }
.dxc-ayu-dark a-fb { color: #ffb454; }
.dxc-ayu-dark a-f { color: #ffb454; }
.dxc-ayu-dark a-fm { color: #ffb454; }
.dxc-ayu-dark a-k { color: #ff8f40; }
.dxc-ayu-dark a-kc { color: #ff8f40; }
.dxc-ayu-dark a-ko { color: #ff8f40; }
.dxc-ayu-dark a-kd { color: #ff8f40; }
.dxc-ayu-dark a-ke { color: #ff8f40; }
.dxc-ayu-dark a-kf { color: #ff8f40; }
.dxc-ayu-dark a-ki { color: #ff8f40; }
.dxc-ayu-dark a-kp { color: #ff8f40; }
.dxc-ayu-dark a-kr { color: #ff8f40; }
.dxc-ayu-dark a-kt { color: #ff8f40; }
.dxc-ayu-dark a-ky { color: #ff8f40; }
.dxc-ayu-dark a-o { color: #f29668; }
.dxc-ayu-dark a-pr { color: #59c2ff; }
.dxc-ayu-dark a-ps { color: #e6b673; }
.dxc-ayu-dark a-s { color: #aad94c; }
.dxc-ayu-dark a-ss { color: #95e6cb; }
.dxc-ayu-dark a-tg { color: #39bae6; }
.dxc-ayu-dark a-td { color: #39bae6; }
.dxc-ayu-dark a-te { color: #39bae6; }
.dxc-ayu-dark a-t { color: #59c2ff; }
.dxc-ayu-dark a-tb { color: #59c2ff; }
.dxc-ayu-dark a-tq { color: #59c2ff; }
.dxc-ayu-dark a-v { color: #bfbdb6; }
.dxc-ayu-dark a-vb { color: #ff8f40; }
.dxc-ayu-dark a-vp { color: #bfbdb6; }
.dxc-ayu-dark a-c { color: #626a73; font-style: italic; }
.dxc-ayu-dark a-cd { color: #626a73; font-style: italic; }
.dxc-ayu-dark a-m { color: #ffb454; }
.dxc-ayu-dark a-l { color: #39bae6; }
.dxc-ayu-dark a-n { color: #d2a6ff; }
.dxc-ayu-dark a-tl { color: #bfbdb6; }
.dxc-ayu-dark a-em { font-style: italic; }
.dxc-ayu-dark a-st { font-weight: bold; }
.dxc-ayu-dark a-tu { color: #39bae6; text-decoration: underline; }
.dxc-ayu-dark a-tr { color: #59c2ff; }
.dxc-ayu-dark a-se { color: #95e6cb; }
.dxc-ayu-dark a-tt { color: #59c2ff; font-weight: bold; }
.dxc-ayu-dark a-tx { text-decoration: line-through; }
.dxc-ayu-dark a-sp { color: #bfbdb6; }
.dxc-ayu-dark a-in { color: #ff8f40; }
.dxc-ayu-dark a-sc { color: #ff8f40; }
.dxc-ayu-dark a-rp { color: #ff8f40; }
.dxc-ayu-dark a-cn { color: #ff8f40; }
.dxc-ayu-dark a-ex { color: #ff8f40; }
.dxc-ayu-dark a-pp { color: #ff8f40; }
.dxc-ayu-dark a-ch { color: #aad94c; }
.dxc-ayu-dark a-cs { color: #aad94c; }
.dxc-ayu-dark a-vm { color: #bfbdb6; }
.dxc-ayu-dark a-fd { color: #ffb454; }
.dxc-ayu-dark a-tf { color: #59c2ff; }
.dxc-ayu-dark a-fc { color: #ffb454; }
.dxc-ayu-dark a-km { color: #ff8f40; }
.dxc-ayu-dark a-dr { color: #ff8f40; }
.dxc-ayu-dark a-rx { color: #aad94c; }
