.dxc-catppuccin-macchiato {
  background: #24273a;
  --bg: #24273a;
  --surface: #36384a;
  color: #cad3f5;
  --fg: #cad3f5;
  --accent: #8aadf4;
  --muted: #6e738d;
}
.dxc-catppuccin-macchiato .a-at { color: #eed49f; }
.dxc-catppuccin-macchiato .a-co { color: #f5a97f; }
.dxc-catppuccin-macchiato .a-cb { color: #f5a97f; }
.dxc-catppuccin-macchiato .a-fb { color: #91d7e3; }
.dxc-catppuccin-macchiato .a-f { color: #8aadf4; }
.dxc-catppuccin-macchiato .a-fm { color: #8aadf4; }
.dxc-catppuccin-macchiato .a-k { color: #c6a0f6; }
.dxc-catppuccin-macchiato .a-kc { color: #c6a0f6; }
.dxc-catppuccin-macchiato .a-ko { color: #c6a0f6; }
.dxc-catppuccin-macchiato .a-kd { color: #c6a0f6; }
.dxc-catppuccin-macchiato .a-ke { color: #c6a0f6; }
.dxc-catppuccin-macchiato .a-kf { color: #c6a0f6; }
.dxc-catppuccin-macchiato .a-ki { color: #c6a0f6; }
.dxc-catppuccin-macchiato .a-kp { color: #c6a0f6; }
.dxc-catppuccin-macchiato .a-kr { color: #c6a0f6; }
.dxc-catppuccin-macchiato .a-kt { color: #c6a0f6; }
.dxc-catppuccin-macchiato .a-ky { color: #c6a0f6; }
.dxc-catppuccin-macchiato .a-o { color: #8bd5ca; }
.dxc-catppuccin-macchiato .a-pr { color: #8aadf4; }
.dxc-catppuccin-macchiato .a-p { color: #939ab7; }
.dxc-catppuccin-macchiato .a-pb { color: #939ab7; }
.dxc-catppuccin-macchiato .a-pd { color: #939ab7; }
.dxc-catppuccin-macchiato .a-ps { color: #f5bde6; }
.dxc-catppuccin-macchiato .a-s { color: #a6da95; }
.dxc-catppuccin-macchiato .a-ss { color: #ed8796; }
.dxc-catppuccin-macchiato .a-tg { color: #8aadf4; }
.dxc-catppuccin-macchiato .a-td { color: #8aadf4; }
.dxc-catppuccin-macchiato .a-te { color: #8aadf4; }
.dxc-catppuccin-macchiato .a-t { color: #eed49f; }
.dxc-catppuccin-macchiato .a-tb { color: #eed49f; }
.dxc-catppuccin-macchiato .a-tq { color: #eed49f; }
.dxc-catppuccin-macchiato .a-v { color: #cad3f5; }
.dxc-catppuccin-macchiato .a-vb { color: #ed8796; }
.dxc-catppuccin-macchiato .a-vp { color: #f5a97f; }
.dxc-catppuccin-macchiato .a-c { color: #6e738d; }
.dxc-catppuccin-macchiato .a-cd { color: #6e738d; }
.dxc-catppuccin-macchiato .a-m { color: #8bd5ca; }
.dxc-catppuccin-macchiato .a-l { color: #f5bde6; }
.dxc-catppuccin-macchiato .a-n { color: #f5a97f; }
.dxc-catppuccin-macchiato .a-tl { color: #cad3f5; }
.dxc-catppuccin-macchiato .a-em { font-style: italic; }
.dxc-catppuccin-macchiato .a-st { font-weight: bold; }
.dxc-catppuccin-macchiato .a-tu { color: #8aadf4; text-decoration: underline; }
.dxc-catppuccin-macchiato .a-tr { color: #91d7e3; }
.dxc-catppuccin-macchiato .a-se { color: #f5a97f; }
.dxc-catppuccin-macchiato .a-tt { color: #c6a0f6; font-weight: bold; }
.dxc-catppuccin-macchiato .a-tx { text-decoration: line-through; }
.dxc-catppuccin-macchiato .a-sp { color: #cad3f5; }
.dxc-catppuccin-macchiato .a-in { color: #c6a0f6; }
.dxc-catppuccin-macchiato .a-sc { color: #c6a0f6; }
.dxc-catppuccin-macchiato .a-rp { color: #c6a0f6; }
.dxc-catppuccin-macchiato .a-cn { color: #c6a0f6; }
.dxc-catppuccin-macchiato .a-ex { color: #c6a0f6; }
.dxc-catppuccin-macchiato .a-pp { color: #c6a0f6; }
.dxc-catppuccin-macchiato .a-ch { color: #a6da95; }
.dxc-catppuccin-macchiato .a-cs { color: #a6da95; }
.dxc-catppuccin-macchiato .a-vm { color: #cad3f5; }
.dxc-catppuccin-macchiato .a-fd { color: #8aadf4; }
.dxc-catppuccin-macchiato .a-tf { color: #eed49f; }
.dxc-catppuccin-macchiato .a-fc { color: #8aadf4; }
.dxc-catppuccin-macchiato .a-km { color: #c6a0f6; }
.dxc-catppuccin-macchiato .a-dr { color: #c6a0f6; }
.dxc-catppuccin-macchiato .a-rx { color: #a6da95; }
