.dxc-catppuccin-mocha {
  background: #1e1e2e;
  --bg: #1e1e2e;
  --surface: #30303f;
  color: #cdd6f4;
  --fg: #cdd6f4;
  --accent: #89b4fa;
  --muted: #6c7086;
}
.dxc-catppuccin-mocha a-at { color: #f9e2af; }
.dxc-catppuccin-mocha a-co { color: #fab387; }
.dxc-catppuccin-mocha a-cb { color: #fab387; }
.dxc-catppuccin-mocha a-fb { color: #89dceb; }
.dxc-catppuccin-mocha a-f { color: #89b4fa; }
.dxc-catppuccin-mocha a-fm { color: #89b4fa; }
.dxc-catppuccin-mocha a-k { color: #cba6f7; }
.dxc-catppuccin-mocha a-kc { color: #cba6f7; }
.dxc-catppuccin-mocha a-ko { color: #cba6f7; }
.dxc-catppuccin-mocha a-kd { color: #cba6f7; }
.dxc-catppuccin-mocha a-ke { color: #cba6f7; }
.dxc-catppuccin-mocha a-kf { color: #cba6f7; }
.dxc-catppuccin-mocha a-ki { color: #cba6f7; }
.dxc-catppuccin-mocha a-kp { color: #cba6f7; }
.dxc-catppuccin-mocha a-kr { color: #cba6f7; }
.dxc-catppuccin-mocha a-kt { color: #cba6f7; }
.dxc-catppuccin-mocha a-ky { color: #cba6f7; }
.dxc-catppuccin-mocha a-o { color: #94e2d5; }
.dxc-catppuccin-mocha a-pr { color: #89b4fa; }
.dxc-catppuccin-mocha a-p { color: #9399b2; }
.dxc-catppuccin-mocha a-pb { color: #9399b2; }
.dxc-catppuccin-mocha a-pd { color: #9399b2; }
.dxc-catppuccin-mocha a-ps { color: #f5c2e7; }
.dxc-catppuccin-mocha a-s { color: #a6e3a1; }
.dxc-catppuccin-mocha a-ss { color: #f38ba8; }
.dxc-catppuccin-mocha a-tg { color: #89b4fa; }
.dxc-catppuccin-mocha a-td { color: #89b4fa; }
.dxc-catppuccin-mocha a-te { color: #89b4fa; }
.dxc-catppuccin-mocha a-t { color: #f9e2af; }
.dxc-catppuccin-mocha a-tb { color: #f9e2af; }
.dxc-catppuccin-mocha a-tq { color: #f9e2af; }
.dxc-catppuccin-mocha a-v { color: #cdd6f4; }
.dxc-catppuccin-mocha a-vb { color: #f38ba8; }
.dxc-catppuccin-mocha a-vp { color: #fab387; }
.dxc-catppuccin-mocha a-c { color: #6c7086; }
.dxc-catppuccin-mocha a-cd { color: #6c7086; }
.dxc-catppuccin-mocha a-m { color: #94e2d5; }
.dxc-catppuccin-mocha a-l { color: #f5c2e7; }
.dxc-catppuccin-mocha a-n { color: #fab387; }
.dxc-catppuccin-mocha a-tl { color: #cdd6f4; }
.dxc-catppuccin-mocha a-em { font-style: italic; }
.dxc-catppuccin-mocha a-st { font-weight: bold; }
.dxc-catppuccin-mocha a-tu { color: #89b4fa; text-decoration: underline; }
.dxc-catppuccin-mocha a-tr { color: #89dceb; }
.dxc-catppuccin-mocha a-se { color: #fab387; }
.dxc-catppuccin-mocha a-tt { color: #cba6f7; font-weight: bold; }
.dxc-catppuccin-mocha a-tx { text-decoration: line-through; }
.dxc-catppuccin-mocha a-sp { color: #cdd6f4; }
.dxc-catppuccin-mocha a-in { color: #cba6f7; }
.dxc-catppuccin-mocha a-sc { color: #cba6f7; }
.dxc-catppuccin-mocha a-rp { color: #cba6f7; }
.dxc-catppuccin-mocha a-cn { color: #cba6f7; }
.dxc-catppuccin-mocha a-ex { color: #cba6f7; }
.dxc-catppuccin-mocha a-pp { color: #cba6f7; }
.dxc-catppuccin-mocha a-ch { color: #a6e3a1; }
.dxc-catppuccin-mocha a-cs { color: #a6e3a1; }
.dxc-catppuccin-mocha a-vm { color: #cdd6f4; }
.dxc-catppuccin-mocha a-fd { color: #89b4fa; }
.dxc-catppuccin-mocha a-tf { color: #f9e2af; }
.dxc-catppuccin-mocha a-fc { color: #89b4fa; }
.dxc-catppuccin-mocha a-km { color: #cba6f7; }
.dxc-catppuccin-mocha a-dr { color: #cba6f7; }
.dxc-catppuccin-mocha a-rx { color: #a6e3a1; }
