.dxc-catppuccin-frappe {
  background: #303446;
  --bg: #303446;
  --surface: #414455;
  color: #c6d0f5;
  --fg: #c6d0f5;
  --accent: #8caaee;
  --muted: #737994;
}
.dxc-catppuccin-frappe .a-at { color: #e5c890; }
.dxc-catppuccin-frappe .a-co { color: #ef9f76; }
.dxc-catppuccin-frappe .a-cb { color: #ef9f76; }
.dxc-catppuccin-frappe .a-fb { color: #99d1db; }
.dxc-catppuccin-frappe .a-f { color: #8caaee; }
.dxc-catppuccin-frappe .a-fm { color: #8caaee; }
.dxc-catppuccin-frappe .a-k { color: #ca9ee6; }
.dxc-catppuccin-frappe .a-kc { color: #ca9ee6; }
.dxc-catppuccin-frappe .a-ko { color: #ca9ee6; }
.dxc-catppuccin-frappe .a-kd { color: #ca9ee6; }
.dxc-catppuccin-frappe .a-ke { color: #ca9ee6; }
.dxc-catppuccin-frappe .a-kf { color: #ca9ee6; }
.dxc-catppuccin-frappe .a-ki { color: #ca9ee6; }
.dxc-catppuccin-frappe .a-kp { color: #ca9ee6; }
.dxc-catppuccin-frappe .a-kr { color: #ca9ee6; }
.dxc-catppuccin-frappe .a-kt { color: #ca9ee6; }
.dxc-catppuccin-frappe .a-ky { color: #ca9ee6; }
.dxc-catppuccin-frappe .a-o { color: #81c8be; }
.dxc-catppuccin-frappe .a-pr { color: #8caaee; }
.dxc-catppuccin-frappe .a-p { color: #949cbb; }
.dxc-catppuccin-frappe .a-pb { color: #949cbb; }
.dxc-catppuccin-frappe .a-pd { color: #949cbb; }
.dxc-catppuccin-frappe .a-ps { color: #f4b8e4; }
.dxc-catppuccin-frappe .a-s { color: #a6d189; }
.dxc-catppuccin-frappe .a-ss { color: #e78284; }
.dxc-catppuccin-frappe .a-tg { color: #8caaee; }
.dxc-catppuccin-frappe .a-td { color: #8caaee; }
.dxc-catppuccin-frappe .a-te { color: #8caaee; }
.dxc-catppuccin-frappe .a-t { color: #e5c890; }
.dxc-catppuccin-frappe .a-tb { color: #e5c890; }
.dxc-catppuccin-frappe .a-tq { color: #e5c890; }
.dxc-catppuccin-frappe .a-v { color: #c6d0f5; }
.dxc-catppuccin-frappe .a-vb { color: #e78284; }
.dxc-catppuccin-frappe .a-vp { color: #ef9f76; }
.dxc-catppuccin-frappe .a-c { color: #737994; }
.dxc-catppuccin-frappe .a-cd { color: #737994; }
.dxc-catppuccin-frappe .a-m { color: #81c8be; }
.dxc-catppuccin-frappe .a-l { color: #f4b8e4; }
.dxc-catppuccin-frappe .a-n { color: #ef9f76; }
.dxc-catppuccin-frappe .a-tl { color: #c6d0f5; }
.dxc-catppuccin-frappe .a-em { font-style: italic; }
.dxc-catppuccin-frappe .a-st { font-weight: bold; }
.dxc-catppuccin-frappe .a-tu { color: #8caaee; text-decoration: underline; }
.dxc-catppuccin-frappe .a-tr { color: #99d1db; }
.dxc-catppuccin-frappe .a-se { color: #ef9f76; }
.dxc-catppuccin-frappe .a-tt { color: #ca9ee6; font-weight: bold; }
.dxc-catppuccin-frappe .a-tx { text-decoration: line-through; }
.dxc-catppuccin-frappe .a-sp { color: #c6d0f5; }
.dxc-catppuccin-frappe .a-in { color: #ca9ee6; }
.dxc-catppuccin-frappe .a-sc { color: #ca9ee6; }
.dxc-catppuccin-frappe .a-rp { color: #ca9ee6; }
.dxc-catppuccin-frappe .a-cn { color: #ca9ee6; }
.dxc-catppuccin-frappe .a-ex { color: #ca9ee6; }
.dxc-catppuccin-frappe .a-pp { color: #ca9ee6; }
.dxc-catppuccin-frappe .a-ch { color: #a6d189; }
.dxc-catppuccin-frappe .a-cs { color: #a6d189; }
.dxc-catppuccin-frappe .a-vm { color: #c6d0f5; }
.dxc-catppuccin-frappe .a-fd { color: #8caaee; }
.dxc-catppuccin-frappe .a-tf { color: #e5c890; }
.dxc-catppuccin-frappe .a-fc { color: #8caaee; }
.dxc-catppuccin-frappe .a-km { color: #ca9ee6; }
.dxc-catppuccin-frappe .a-dr { color: #ca9ee6; }
.dxc-catppuccin-frappe .a-rx { color: #a6d189; }
