.dxc-cobalt2 {
  background: #193549;
  --bg: #193549;
  --surface: #2b4558;
  color: #ffffff;
  --fg: #ffffff;
  --accent: #ffc600;
  --muted: #0088ff;
}
.dxc-cobalt2 a-at { color: #ffc600; }
.dxc-cobalt2 a-co { color: #ff628c; }
.dxc-cobalt2 a-cb { color: #ff628c; }
.dxc-cobalt2 a-fb { color: #ff9d00; }
.dxc-cobalt2 a-f { color: #ffc600; }
.dxc-cobalt2 a-fm { color: #ffc600; }
.dxc-cobalt2 a-k { color: #ff9d00; }
.dxc-cobalt2 a-kc { color: #ff9d00; }
.dxc-cobalt2 a-ko { color: #ff9d00; }
.dxc-cobalt2 a-kd { color: #ff9d00; }
.dxc-cobalt2 a-ke { color: #ff9d00; }
.dxc-cobalt2 a-kf { color: #ff9d00; }
.dxc-cobalt2 a-ki { color: #ff9d00; }
.dxc-cobalt2 a-kp { color: #ff9d00; }
.dxc-cobalt2 a-kr { color: #ff9d00; }
.dxc-cobalt2 a-kt { color: #ff9d00; }
.dxc-cobalt2 a-ky { color: #ff9d00; }
.dxc-cobalt2 a-o { color: #ffffff; }
.dxc-cobalt2 a-pr { color: #9effff; }
.dxc-cobalt2 a-p { color: #ffffff; }
.dxc-cobalt2 a-pb { color: #ffffff; }
.dxc-cobalt2 a-pd { color: #ffffff; }
.dxc-cobalt2 a-ps { color: #9effff; }
.dxc-cobalt2 a-s { color: #a5ff90; }
.dxc-cobalt2 a-ss { color: #3ad900; }
.dxc-cobalt2 a-tg { color: #ffc600; }
.dxc-cobalt2 a-td { color: #ffc600; }
.dxc-cobalt2 a-te { color: #ffc600; }
.dxc-cobalt2 a-t { color: #ff68b8; }
.dxc-cobalt2 a-tb { color: #ff68b8; }
.dxc-cobalt2 a-tq { color: #ff68b8; }
.dxc-cobalt2 a-v { color: #e1efff; }
.dxc-cobalt2 a-vb { color: #ff628c; }
.dxc-cobalt2 a-vp { color: #e1efff; }
.dxc-cobalt2 a-c { color: #0088ff; font-style: italic; }
.dxc-cobalt2 a-cd { color: #0088ff; font-style: italic; }
.dxc-cobalt2 a-m { color: #ff9d00; }
.dxc-cobalt2 a-l { color: #9effff; }
.dxc-cobalt2 a-n { color: #ff628c; }
.dxc-cobalt2 a-tl { color: #ffffff; }
.dxc-cobalt2 a-em { font-style: italic; }
.dxc-cobalt2 a-st { font-weight: bold; }
.dxc-cobalt2 a-tu { color: #0088ff; text-decoration: underline; }
.dxc-cobalt2 a-tr { color: #9effff; }
.dxc-cobalt2 a-se { color: #ff628c; }
.dxc-cobalt2 a-tt { color: #ffc600; font-weight: bold; }
.dxc-cobalt2 a-tx { text-decoration: line-through; }
.dxc-cobalt2 a-sp { color: #ffffff; }
.dxc-cobalt2 a-in { color: #ff9d00; }
.dxc-cobalt2 a-sc { color: #ff9d00; }
.dxc-cobalt2 a-rp { color: #ff9d00; }
.dxc-cobalt2 a-cn { color: #ff9d00; }
.dxc-cobalt2 a-ex { color: #ff9d00; }
.dxc-cobalt2 a-pp { color: #ff9d00; }
.dxc-cobalt2 a-ch { color: #a5ff90; }
.dxc-cobalt2 a-cs { color: #a5ff90; }
.dxc-cobalt2 a-vm { color: #e1efff; }
.dxc-cobalt2 a-fd { color: #ffc600; }
.dxc-cobalt2 a-tf { color: #ff68b8; }
.dxc-cobalt2 a-fc { color: #ffc600; }
.dxc-cobalt2 a-km { color: #ff9d00; }
.dxc-cobalt2 a-dr { color: #ff9d00; }
.dxc-cobalt2 a-rx { color: #a5ff90; }
