.dxc-dayfox {
  background: #f6f2ee;
  --bg: #f6f2ee;
  --surface: #eae6e2;
  color: #3d2b5a;
  --fg: #3d2b5a;
  --accent: #2848a9;
  --muted: #837a72;
}
.dxc-dayfox .a-at { color: #955f61; }
.dxc-dayfox .a-co { color: #287980; }
.dxc-dayfox .a-cb { color: #287980; }
.dxc-dayfox .a-fb { color: #287980; }
.dxc-dayfox .a-f { color: #2848a9; }
.dxc-dayfox .a-fm { color: #2848a9; }
.dxc-dayfox .a-k { color: #6e33ce; }
.dxc-dayfox .a-kc { color: #6e33ce; }
.dxc-dayfox .a-ko { color: #6e33ce; }
.dxc-dayfox .a-kd { color: #6e33ce; }
.dxc-dayfox .a-ke { color: #6e33ce; }
.dxc-dayfox .a-kf { color: #6e33ce; }
.dxc-dayfox .a-ki { color: #6e33ce; }
.dxc-dayfox .a-kp { color: #6e33ce; }
.dxc-dayfox .a-kr { color: #6e33ce; }
.dxc-dayfox .a-kt { color: #6e33ce; }
.dxc-dayfox .a-ky { color: #6e33ce; }
.dxc-dayfox .a-o { color: #3d2b5a; }
.dxc-dayfox .a-pr { color: #287980; }
.dxc-dayfox .a-p { color: #824d5b; }
.dxc-dayfox .a-pb { color: #824d5b; }
.dxc-dayfox .a-pd { color: #824d5b; }
.dxc-dayfox .a-ps { color: #a440b5; }
.dxc-dayfox .a-s { color: #396847; }
.dxc-dayfox .a-ss { color: #955f61; }
.dxc-dayfox .a-tg { color: #6e33ce; }
.dxc-dayfox .a-td { color: #6e33ce; }
.dxc-dayfox .a-te { color: #6e33ce; }
.dxc-dayfox .a-t { color: #ac5402; }
.dxc-dayfox .a-tb { color: #ac5402; }
.dxc-dayfox .a-tq { color: #ac5402; }
.dxc-dayfox .a-v { color: #3d2b5a; }
.dxc-dayfox .a-vb { color: #a5222f; }
.dxc-dayfox .a-vp { color: #643f61; }
.dxc-dayfox .a-c { color: #837a72; }
.dxc-dayfox .a-cd { color: #837a72; }
.dxc-dayfox .a-m { color: #287980; }
.dxc-dayfox .a-l { color: #a440b5; }
.dxc-dayfox .a-n { color: #955f61; }
.dxc-dayfox .a-tl { color: #3d2b5a; }
.dxc-dayfox .a-em { font-style: italic; }
.dxc-dayfox .a-st { font-weight: bold; }
.dxc-dayfox .a-tu { color: #2848a9; text-decoration: underline; }
.dxc-dayfox .a-tr { color: #287980; }
.dxc-dayfox .a-se { color: #a440b5; }
.dxc-dayfox .a-tt { color: #2848a9; font-weight: bold; }
.dxc-dayfox .a-tx { text-decoration: line-through; }
.dxc-dayfox .a-sp { color: #3d2b5a; }
.dxc-dayfox .a-in { color: #6e33ce; }
.dxc-dayfox .a-sc { color: #6e33ce; }
.dxc-dayfox .a-rp { color: #6e33ce; }
.dxc-dayfox .a-cn { color: #6e33ce; }
.dxc-dayfox .a-ex { color: #6e33ce; }
.dxc-dayfox .a-pp { color: #6e33ce; }
.dxc-dayfox .a-ch { color: #396847; }
.dxc-dayfox .a-cs { color: #396847; }
.dxc-dayfox .a-vm { color: #3d2b5a; }
.dxc-dayfox .a-fd { color: #2848a9; }
.dxc-dayfox .a-tf { color: #ac5402; }
.dxc-dayfox .a-fc { color: #2848a9; }
.dxc-dayfox .a-km { color: #6e33ce; }
.dxc-dayfox .a-dr { color: #6e33ce; }
.dxc-dayfox .a-rx { color: #396847; }
