.dxc-ef-melissa-dark {
  background: #352718;
  --bg: #352718;
  --surface: #45382a;
  color: #e8e4b1;
  --fg: #e8e4b1;
  --accent: #c6a2fe;
  --muted: #90918a;
}
.dxc-ef-melissa-dark a-at { color: #e4b53f; }
.dxc-ef-melissa-dark a-co { color: #6fcad0; }
.dxc-ef-melissa-dark a-cb { color: #6fcad0; }
.dxc-ef-melissa-dark a-fb { color: #f0aac5; }
.dxc-ef-melissa-dark a-f { color: #c6a2fe; }
.dxc-ef-melissa-dark a-fm { color: #c6a2fe; }
.dxc-ef-melissa-dark a-k { color: #ffa21f; }
.dxc-ef-melissa-dark a-kc { color: #ffa21f; }
.dxc-ef-melissa-dark a-ko { color: #ffa21f; }
.dxc-ef-melissa-dark a-kd { color: #ffa21f; }
.dxc-ef-melissa-dark a-ke { color: #ffa21f; }
.dxc-ef-melissa-dark a-kf { color: #ffa21f; }
.dxc-ef-melissa-dark a-ki { color: #ffa21f; }
.dxc-ef-melissa-dark a-kp { color: #ffa21f; }
.dxc-ef-melissa-dark a-kr { color: #ffa21f; }
.dxc-ef-melissa-dark a-kt { color: #ffa21f; }
.dxc-ef-melissa-dark a-ky { color: #ffa21f; }
.dxc-ef-melissa-dark a-o { color: #ccaa70; }
.dxc-ef-melissa-dark a-pr { color: #7fc5df; }
.dxc-ef-melissa-dark a-p { color: #90918a; }
.dxc-ef-melissa-dark a-pb { color: #90918a; }
.dxc-ef-melissa-dark a-pd { color: #90918a; }
.dxc-ef-melissa-dark a-ps { color: #ff7f7f; }
.dxc-ef-melissa-dark a-s { color: #a0d13a; }
.dxc-ef-melissa-dark a-ss { color: #65d590; }
.dxc-ef-melissa-dark a-tg { color: #e7a06f; }
.dxc-ef-melissa-dark a-td { color: #e7a06f; }
.dxc-ef-melissa-dark a-te { color: #e7a06f; }
.dxc-ef-melissa-dark a-t { color: #70e0cf; }
.dxc-ef-melissa-dark a-tb { color: #6fcad0; }
.dxc-ef-melissa-dark a-tq { color: #70e0cf; }
.dxc-ef-melissa-dark a-v { color: #e8e4b1; }
.dxc-ef-melissa-dark a-vb { color: #ff8f98; }
.dxc-ef-melissa-dark a-vp { color: #dfcfe0; }
.dxc-ef-melissa-dark a-c { color: #90918a; font-style: italic; }
.dxc-ef-melissa-dark a-cd { color: #90918a; font-style: italic; }
.dxc-ef-melissa-dark a-m { color: #fa90aa; }
.dxc-ef-melissa-dark a-l { color: #98bfff; }
.dxc-ef-melissa-dark a-n { color: #62cfef; }
.dxc-ef-melissa-dark a-tl { color: #e8e4b1; }
.dxc-ef-melissa-dark a-em { font-style: italic; }
.dxc-ef-melissa-dark a-st { font-weight: bold; }
.dxc-ef-melissa-dark a-tu { color: #57aff6; text-decoration: underline; }
.dxc-ef-melissa-dark a-tr { color: #7fc5df; }
.dxc-ef-melissa-dark a-se { color: #eab780; }
.dxc-ef-melissa-dark a-tt { color: #e4b53f; font-weight: bold; }
.dxc-ef-melissa-dark a-tx { text-decoration: line-through; }
.dxc-ef-melissa-dark a-sp { color: #e8e4b1; }
.dxc-ef-melissa-dark a-in { color: #ffa21f; }
.dxc-ef-melissa-dark a-sc { color: #ffa21f; }
.dxc-ef-melissa-dark a-rp { color: #ffa21f; }
.dxc-ef-melissa-dark a-cn { color: #ffa21f; }
.dxc-ef-melissa-dark a-ex { color: #ffa21f; }
.dxc-ef-melissa-dark a-pp { color: #ffa21f; }
.dxc-ef-melissa-dark a-ch { color: #a0d13a; }
.dxc-ef-melissa-dark a-cs { color: #a0d13a; }
.dxc-ef-melissa-dark a-vm { color: #e8e4b1; }
.dxc-ef-melissa-dark a-fd { color: #c6a2fe; }
.dxc-ef-melissa-dark a-tf { color: #70e0cf; }
.dxc-ef-melissa-dark a-fc { color: #c6a2fe; }
.dxc-ef-melissa-dark a-km { color: #ffa21f; }
.dxc-ef-melissa-dark a-dr { color: #ffa21f; }
.dxc-ef-melissa-dark a-rx { color: #a0d13a; }
