.dxc-github-dark {
  background: #0d1117;
  --bg: #0d1117;
  --surface: #20242a;
  color: #e6edf3;
  --fg: #e6edf3;
  --accent: #d2a8ff;
  --muted: #8b949e;
}
.dxc-github-dark a-at { color: #79c0ff; }
.dxc-github-dark a-co { color: #79c0ff; }
.dxc-github-dark a-cb { color: #79c0ff; }
.dxc-github-dark a-fb { color: #d2a8ff; }
.dxc-github-dark a-f { color: #d2a8ff; }
.dxc-github-dark a-fm { color: #d2a8ff; }
.dxc-github-dark a-k { color: #ff7b72; }
.dxc-github-dark a-kc { color: #ff7b72; }
.dxc-github-dark a-ko { color: #ff7b72; }
.dxc-github-dark a-kd { color: #ff7b72; }
.dxc-github-dark a-ke { color: #ff7b72; }
.dxc-github-dark a-kf { color: #ff7b72; }
.dxc-github-dark a-ki { color: #ff7b72; }
.dxc-github-dark a-kp { color: #ff7b72; }
.dxc-github-dark a-kr { color: #ff7b72; }
.dxc-github-dark a-kt { color: #ff7b72; }
.dxc-github-dark a-ky { color: #ff7b72; }
.dxc-github-dark a-o { color: #ff7b72; }
.dxc-github-dark a-pr { color: #79c0ff; }
.dxc-github-dark a-p { color: #e6edf3; }
.dxc-github-dark a-pb { color: #e6edf3; }
.dxc-github-dark a-pd { color: #e6edf3; }
.dxc-github-dark a-ps { color: #79c0ff; }
.dxc-github-dark a-s { color: #a5d6ff; }
.dxc-github-dark a-ss { color: #ff7b72; }
.dxc-github-dark a-tg { color: #7ee787; }
.dxc-github-dark a-td { color: #7ee787; }
.dxc-github-dark a-te { color: #7ee787; }
.dxc-github-dark a-t { color: #ffa657; }
.dxc-github-dark a-tb { color: #ffa657; }
.dxc-github-dark a-tq { color: #ffa657; }
.dxc-github-dark a-v { color: #e6edf3; }
.dxc-github-dark a-vb { color: #ffa657; }
.dxc-github-dark a-vp { color: #ffa657; }
.dxc-github-dark a-c { color: #8b949e; }
.dxc-github-dark a-cd { color: #8b949e; }
.dxc-github-dark a-m { color: #79c0ff; }
.dxc-github-dark a-l { color: #d2a8ff; }
.dxc-github-dark a-n { color: #79c0ff; }
.dxc-github-dark a-tl { color: #e6edf3; }
.dxc-github-dark a-em { font-style: italic; }
.dxc-github-dark a-st { font-weight: bold; }
.dxc-github-dark a-tu { color: #58a6ff; text-decoration: underline; }
.dxc-github-dark a-tr { color: #d2a8ff; }
.dxc-github-dark a-se { color: #79c0ff; }
.dxc-github-dark a-tt { color: #d2a8ff; font-weight: bold; }
.dxc-github-dark a-tx { text-decoration: line-through; }
.dxc-github-dark a-sp { color: #e6edf3; }
.dxc-github-dark a-in { color: #ff7b72; }
.dxc-github-dark a-sc { color: #ff7b72; }
.dxc-github-dark a-rp { color: #ff7b72; }
.dxc-github-dark a-cn { color: #ff7b72; }
.dxc-github-dark a-ex { color: #ff7b72; }
.dxc-github-dark a-pp { color: #ff7b72; }
.dxc-github-dark a-ch { color: #a5d6ff; }
.dxc-github-dark a-cs { color: #a5d6ff; }
.dxc-github-dark a-vm { color: #e6edf3; }
.dxc-github-dark a-fd { color: #d2a8ff; }
.dxc-github-dark a-tf { color: #ffa657; }
.dxc-github-dark a-fc { color: #d2a8ff; }
.dxc-github-dark a-km { color: #ff7b72; }
.dxc-github-dark a-dr { color: #ff7b72; }
.dxc-github-dark a-rx { color: #a5d6ff; }
