.dxc-github-light {
  background: #ffffff;
  --bg: #ffffff;
  --surface: #f2f2f2;
  color: #1f2328;
  --fg: #1f2328;
  --accent: #8250df;
  --muted: #6e7781;
}
.dxc-github-light a-at { color: #0550ae; }
.dxc-github-light a-co { color: #0550ae; }
.dxc-github-light a-cb { color: #0550ae; }
.dxc-github-light a-fb { color: #8250df; }
.dxc-github-light a-f { color: #8250df; }
.dxc-github-light a-fm { color: #8250df; }
.dxc-github-light a-k { color: #cf222e; }
.dxc-github-light a-kc { color: #cf222e; }
.dxc-github-light a-ko { color: #cf222e; }
.dxc-github-light a-kd { color: #cf222e; }
.dxc-github-light a-ke { color: #cf222e; }
.dxc-github-light a-kf { color: #cf222e; }
.dxc-github-light a-ki { color: #cf222e; }
.dxc-github-light a-kp { color: #cf222e; }
.dxc-github-light a-kr { color: #cf222e; }
.dxc-github-light a-kt { color: #cf222e; }
.dxc-github-light a-ky { color: #cf222e; }
.dxc-github-light a-o { color: #cf222e; }
.dxc-github-light a-pr { color: #0550ae; }
.dxc-github-light a-p { color: #1f2328; }
.dxc-github-light a-pb { color: #1f2328; }
.dxc-github-light a-pd { color: #1f2328; }
.dxc-github-light a-ps { color: #0550ae; }
.dxc-github-light a-s { color: #0a3069; }
.dxc-github-light a-ss { color: #cf222e; }
.dxc-github-light a-tg { color: #116329; }
.dxc-github-light a-td { color: #116329; }
.dxc-github-light a-te { color: #116329; }
.dxc-github-light a-t { color: #953800; }
.dxc-github-light a-tb { color: #953800; }
.dxc-github-light a-tq { color: #953800; }
.dxc-github-light a-v { color: #1f2328; }
.dxc-github-light a-vb { color: #953800; }
.dxc-github-light a-vp { color: #953800; }
.dxc-github-light a-c { color: #6e7781; }
.dxc-github-light a-cd { color: #6e7781; }
.dxc-github-light a-m { color: #0550ae; }
.dxc-github-light a-l { color: #8250df; }
.dxc-github-light a-n { color: #0550ae; }
.dxc-github-light a-tl { color: #1f2328; }
.dxc-github-light a-em { font-style: italic; }
.dxc-github-light a-st { font-weight: bold; }
.dxc-github-light a-tu { color: #0969da; text-decoration: underline; }
.dxc-github-light a-tr { color: #8250df; }
.dxc-github-light a-se { color: #0550ae; }
.dxc-github-light a-tt { color: #8250df; font-weight: bold; }
.dxc-github-light a-tx { text-decoration: line-through; }
.dxc-github-light a-sp { color: #1f2328; }
.dxc-github-light a-in { color: #cf222e; }
.dxc-github-light a-sc { color: #cf222e; }
.dxc-github-light a-rp { color: #cf222e; }
.dxc-github-light a-cn { color: #cf222e; }
.dxc-github-light a-ex { color: #cf222e; }
.dxc-github-light a-pp { color: #cf222e; }
.dxc-github-light a-ch { color: #0a3069; }
.dxc-github-light a-cs { color: #0a3069; }
.dxc-github-light a-vm { color: #1f2328; }
.dxc-github-light a-fd { color: #8250df; }
.dxc-github-light a-tf { color: #953800; }
.dxc-github-light a-fc { color: #8250df; }
.dxc-github-light a-km { color: #cf222e; }
.dxc-github-light a-dr { color: #cf222e; }
.dxc-github-light a-rx { color: #0a3069; }
