.dxc-gruvbox-dark {
  background: #282828;
  --bg: #282828;
  --surface: #393939;
  color: #ebdbb2;
  --fg: #ebdbb2;
  --accent: #8ec07c;
  --muted: #928374;
}
.dxc-gruvbox-dark a-at { color: #fabd2f; }
.dxc-gruvbox-dark a-co { color: #d3869b; }
.dxc-gruvbox-dark a-cb { color: #d3869b; }
.dxc-gruvbox-dark a-fb { color: #8ec07c; }
.dxc-gruvbox-dark a-f { color: #8ec07c; }
.dxc-gruvbox-dark a-fm { color: #8ec07c; }
.dxc-gruvbox-dark a-k { color: #fb4934; }
.dxc-gruvbox-dark a-kc { color: #fb4934; }
.dxc-gruvbox-dark a-ko { color: #fb4934; }
.dxc-gruvbox-dark a-kd { color: #fb4934; }
.dxc-gruvbox-dark a-ke { color: #fb4934; }
.dxc-gruvbox-dark a-kf { color: #fb4934; }
.dxc-gruvbox-dark a-ki { color: #fb4934; }
.dxc-gruvbox-dark a-kp { color: #fb4934; }
.dxc-gruvbox-dark a-kr { color: #fb4934; }
.dxc-gruvbox-dark a-kt { color: #fb4934; }
.dxc-gruvbox-dark a-ky { color: #fb4934; }
.dxc-gruvbox-dark a-o { color: #ebdbb2; }
.dxc-gruvbox-dark a-pr { color: #83a598; }
.dxc-gruvbox-dark a-p { color: #ebdbb2; }
.dxc-gruvbox-dark a-pb { color: #ebdbb2; }
.dxc-gruvbox-dark a-pd { color: #ebdbb2; }
.dxc-gruvbox-dark a-ps { color: #fe8019; }
.dxc-gruvbox-dark a-s { color: #b8bb26; }
.dxc-gruvbox-dark a-ss { color: #fe8019; }
.dxc-gruvbox-dark a-tg { color: #fb4934; }
.dxc-gruvbox-dark a-td { color: #fb4934; }
.dxc-gruvbox-dark a-te { color: #fb4934; }
.dxc-gruvbox-dark a-t { color: #fabd2f; }
.dxc-gruvbox-dark a-tb { color: #fabd2f; }
.dxc-gruvbox-dark a-tq { color: #fabd2f; }
.dxc-gruvbox-dark a-v { color: #ebdbb2; }
.dxc-gruvbox-dark a-vb { color: #fe8019; }
.dxc-gruvbox-dark a-vp { color: #83a598; }
.dxc-gruvbox-dark a-c { color: #928374; }
.dxc-gruvbox-dark a-cd { color: #928374; }
.dxc-gruvbox-dark a-m { color: #8ec07c; }
.dxc-gruvbox-dark a-l { color: #fb4934; }
.dxc-gruvbox-dark a-n { color: #d3869b; }
.dxc-gruvbox-dark a-tl { color: #ebdbb2; }
.dxc-gruvbox-dark a-em { font-style: italic; }
.dxc-gruvbox-dark a-st { font-weight: bold; }
.dxc-gruvbox-dark a-tu { color: #83a598; text-decoration: underline; }
.dxc-gruvbox-dark a-tr { color: #8ec07c; }
.dxc-gruvbox-dark a-se { color: #fe8019; }
.dxc-gruvbox-dark a-tt { color: #b8bb26; font-weight: bold; }
.dxc-gruvbox-dark a-tx { text-decoration: line-through; }
.dxc-gruvbox-dark a-sp { color: #ebdbb2; }
.dxc-gruvbox-dark a-in { color: #fb4934; }
.dxc-gruvbox-dark a-sc { color: #fb4934; }
.dxc-gruvbox-dark a-rp { color: #fb4934; }
.dxc-gruvbox-dark a-cn { color: #fb4934; }
.dxc-gruvbox-dark a-ex { color: #fb4934; }
.dxc-gruvbox-dark a-pp { color: #fb4934; }
.dxc-gruvbox-dark a-ch { color: #b8bb26; }
.dxc-gruvbox-dark a-cs { color: #b8bb26; }
.dxc-gruvbox-dark a-vm { color: #ebdbb2; }
.dxc-gruvbox-dark a-fd { color: #8ec07c; }
.dxc-gruvbox-dark a-tf { color: #fabd2f; }
.dxc-gruvbox-dark a-fc { color: #8ec07c; }
.dxc-gruvbox-dark a-km { color: #fb4934; }
.dxc-gruvbox-dark a-dr { color: #fb4934; }
.dxc-gruvbox-dark a-rx { color: #b8bb26; }
