.dxc-melange-light {
  background: #f1f1f1;
  --bg: #f1f1f1;
  --surface: #e5e5e5;
  color: #54433a;
  --fg: #54433a;
  --accent: #465aa4;
  --muted: #7d6658;
}
.dxc-melange-light a-at { color: #bc5c00; }
.dxc-melange-light a-co { color: #904180; }
.dxc-melange-light a-cb { color: #904180; }
.dxc-melange-light a-fb { color: #465aa4; }
.dxc-melange-light a-f { color: #465aa4; }
.dxc-melange-light a-fm { color: #465aa4; }
.dxc-melange-light a-k { color: #bc5c00; }
.dxc-melange-light a-kc { color: #bc5c00; }
.dxc-melange-light a-ko { color: #bc5c00; }
.dxc-melange-light a-kd { color: #bc5c00; }
.dxc-melange-light a-ke { color: #bc5c00; }
.dxc-melange-light a-kf { color: #bc5c00; }
.dxc-melange-light a-ki { color: #bc5c00; }
.dxc-melange-light a-kp { color: #bc5c00; }
.dxc-melange-light a-kr { color: #bc5c00; }
.dxc-melange-light a-kt { color: #bc5c00; }
.dxc-melange-light a-ky { color: #bc5c00; }
.dxc-melange-light a-o { color: #bc5c00; }
.dxc-melange-light a-pr { color: #bc5c00; }
.dxc-melange-light a-p { color: #54433a; }
.dxc-melange-light a-pb { color: #54433a; }
.dxc-melange-light a-pd { color: #54433a; }
.dxc-melange-light a-ps { color: #904180; }
.dxc-melange-light a-s { color: #3a684a; }
.dxc-melange-light a-ss { color: #bf0021; }
.dxc-melange-light a-tg { color: #bc5c00; }
.dxc-melange-light a-td { color: #bc5c00; }
.dxc-melange-light a-te { color: #bc5c00; }
.dxc-melange-light a-t { color: #bc5c00; }
.dxc-melange-light a-tb { color: #bc5c00; }
.dxc-melange-light a-tq { color: #bc5c00; }
.dxc-melange-light a-v { color: #54433a; }
.dxc-melange-light a-vb { color: #bf0021; }
.dxc-melange-light a-vp { color: #bc5c00; }
.dxc-melange-light a-c { color: #7d6658; font-style: italic; }
.dxc-melange-light a-cd { color: #7d6658; font-style: italic; }
.dxc-melange-light a-m { color: #465aa4; }
.dxc-melange-light a-l { color: #904180; }
.dxc-melange-light a-n { color: #904180; }
.dxc-melange-light a-tl { color: #54433a; }
.dxc-melange-light a-em { font-style: italic; }
.dxc-melange-light a-st { font-weight: bold; }
.dxc-melange-light a-tu { color: #465aa4; text-decoration: underline; }
.dxc-melange-light a-tr { color: #465aa4; }
.dxc-melange-light a-se { color: #a06d00; }
.dxc-melange-light a-tt { color: #bc5c00; font-weight: bold; }
.dxc-melange-light a-tx { text-decoration: line-through; }
.dxc-melange-light a-sp { color: #54433a; }
.dxc-melange-light a-in { color: #bc5c00; }
.dxc-melange-light a-sc { color: #bc5c00; }
.dxc-melange-light a-rp { color: #bc5c00; }
.dxc-melange-light a-cn { color: #bc5c00; }
.dxc-melange-light a-ex { color: #bc5c00; }
.dxc-melange-light a-pp { color: #bc5c00; }
.dxc-melange-light a-ch { color: #3a684a; }
.dxc-melange-light a-cs { color: #3a684a; }
.dxc-melange-light a-vm { color: #54433a; }
.dxc-melange-light a-fd { color: #465aa4; }
.dxc-melange-light a-tf { color: #bc5c00; }
.dxc-melange-light a-fc { color: #465aa4; }
.dxc-melange-light a-km { color: #bc5c00; }
.dxc-melange-light a-dr { color: #bc5c00; }
.dxc-melange-light a-rx { color: #3a684a; }
