.dxc-one-dark {
  background: #282c34;
  --bg: #282c34;
  --surface: #393d44;
  color: #abb2bf;
  --fg: #abb2bf;
  --accent: #61afef;
  --muted: #5c6370;
}
.dxc-one-dark .a-at { color: #d19a66; }
.dxc-one-dark .a-co { color: #d19a66; }
.dxc-one-dark .a-cb { color: #d19a66; }
.dxc-one-dark .a-fb { color: #56b6c2; }
.dxc-one-dark .a-f { color: #61afef; }
.dxc-one-dark .a-fm { color: #61afef; }
.dxc-one-dark .a-k { color: #c678dd; }
.dxc-one-dark .a-kc { color: #c678dd; }
.dxc-one-dark .a-ko { color: #c678dd; }
.dxc-one-dark .a-kd { color: #c678dd; }
.dxc-one-dark .a-ke { color: #c678dd; }
.dxc-one-dark .a-kf { color: #c678dd; }
.dxc-one-dark .a-ki { color: #c678dd; }
.dxc-one-dark .a-kp { color: #c678dd; }
.dxc-one-dark .a-kr { color: #c678dd; }
.dxc-one-dark .a-kt { color: #c678dd; }
.dxc-one-dark .a-ky { color: #c678dd; }
.dxc-one-dark .a-o { color: #56b6c2; }
.dxc-one-dark .a-pr { color: #e06c75; }
.dxc-one-dark .a-p { color: #abb2bf; }
.dxc-one-dark .a-pb { color: #abb2bf; }
.dxc-one-dark .a-pd { color: #abb2bf; }
.dxc-one-dark .a-ps { color: #c678dd; }
.dxc-one-dark .a-s { color: #98c379; }
.dxc-one-dark .a-ss { color: #e06c75; }
.dxc-one-dark .a-tg { color: #e06c75; }
.dxc-one-dark .a-td { color: #e06c75; }
.dxc-one-dark .a-te { color: #e06c75; }
.dxc-one-dark .a-t { color: #e5c07b; }
.dxc-one-dark .a-tb { color: #e5c07b; }
.dxc-one-dark .a-tq { color: #e5c07b; }
.dxc-one-dark .a-v { color: #abb2bf; }
.dxc-one-dark .a-vb { color: #e06c75; }
.dxc-one-dark .a-vp { color: #d19a66; }
.dxc-one-dark .a-c { color: #5c6370; }
.dxc-one-dark .a-cd { color: #5c6370; }
.dxc-one-dark .a-m { color: #56b6c2; }
.dxc-one-dark .a-l { color: #e06c75; }
.dxc-one-dark .a-n { color: #d19a66; }
.dxc-one-dark .a-tl { color: #abb2bf; }
.dxc-one-dark .a-em { font-style: italic; }
.dxc-one-dark .a-st { font-weight: bold; }
.dxc-one-dark .a-tu { color: #61afef; text-decoration: underline; }
.dxc-one-dark .a-tr { color: #56b6c2; }
.dxc-one-dark .a-se { color: #56b6c2; }
.dxc-one-dark .a-tt { color: #e06c75; font-weight: bold; }
.dxc-one-dark .a-tx { text-decoration: line-through; }
.dxc-one-dark .a-sp { color: #abb2bf; }
.dxc-one-dark .a-in { color: #c678dd; }
.dxc-one-dark .a-sc { color: #c678dd; }
.dxc-one-dark .a-rp { color: #c678dd; }
.dxc-one-dark .a-cn { color: #c678dd; }
.dxc-one-dark .a-ex { color: #c678dd; }
.dxc-one-dark .a-pp { color: #c678dd; }
.dxc-one-dark .a-ch { color: #98c379; }
.dxc-one-dark .a-cs { color: #98c379; }
.dxc-one-dark .a-vm { color: #abb2bf; }
.dxc-one-dark .a-fd { color: #61afef; }
.dxc-one-dark .a-tf { color: #e5c07b; }
.dxc-one-dark .a-fc { color: #61afef; }
.dxc-one-dark .a-km { color: #c678dd; }
.dxc-one-dark .a-dr { color: #c678dd; }
.dxc-one-dark .a-rx { color: #98c379; }
