.dxc-rose-pine-moon {
  background: #232136;
  --bg: #232136;
  --surface: #353346;
  color: #e0def4;
  --fg: #e0def4;
  --accent: #ea9a97;
  --muted: #6e6a86;
}
.dxc-rose-pine-moon .a-at { color: #f6c177; }
.dxc-rose-pine-moon .a-co { color: #f6c177; }
.dxc-rose-pine-moon .a-cb { color: #f6c177; }
.dxc-rose-pine-moon .a-fb { color: #9ccfd8; }
.dxc-rose-pine-moon .a-f { color: #ea9a97; }
.dxc-rose-pine-moon .a-fm { color: #ea9a97; }
.dxc-rose-pine-moon .a-k { color: #3e8fb0; }
.dxc-rose-pine-moon .a-kc { color: #3e8fb0; }
.dxc-rose-pine-moon .a-ko { color: #3e8fb0; }
.dxc-rose-pine-moon .a-kd { color: #3e8fb0; }
.dxc-rose-pine-moon .a-ke { color: #3e8fb0; }
.dxc-rose-pine-moon .a-kf { color: #3e8fb0; }
.dxc-rose-pine-moon .a-ki { color: #3e8fb0; }
.dxc-rose-pine-moon .a-kp { color: #3e8fb0; }
.dxc-rose-pine-moon .a-kr { color: #3e8fb0; }
.dxc-rose-pine-moon .a-kt { color: #3e8fb0; }
.dxc-rose-pine-moon .a-ky { color: #3e8fb0; }
.dxc-rose-pine-moon .a-o { color: #908caa; }
.dxc-rose-pine-moon .a-pr { color: #9ccfd8; }
.dxc-rose-pine-moon .a-p { color: #908caa; }
.dxc-rose-pine-moon .a-pb { color: #908caa; }
.dxc-rose-pine-moon .a-pd { color: #908caa; }
.dxc-rose-pine-moon .a-ps { color: #908caa; }
.dxc-rose-pine-moon .a-s { color: #f6c177; }
.dxc-rose-pine-moon .a-ss { color: #eb6f92; }
.dxc-rose-pine-moon .a-tg { color: #9ccfd8; }
.dxc-rose-pine-moon .a-td { color: #9ccfd8; }
.dxc-rose-pine-moon .a-te { color: #9ccfd8; }
.dxc-rose-pine-moon .a-t { color: #c4a7e7; }
.dxc-rose-pine-moon .a-tb { color: #c4a7e7; }
.dxc-rose-pine-moon .a-tq { color: #c4a7e7; }
.dxc-rose-pine-moon .a-v { color: #e0def4; }
.dxc-rose-pine-moon .a-vb { color: #eb6f92; }
.dxc-rose-pine-moon .a-vp { color: #c4a7e7; }
.dxc-rose-pine-moon .a-c { color: #6e6a86; font-style: italic; }
.dxc-rose-pine-moon .a-cd { color: #6e6a86; font-style: italic; }
.dxc-rose-pine-moon .a-m { color: #9ccfd8; }
.dxc-rose-pine-moon .a-l { color: #9ccfd8; }
.dxc-rose-pine-moon .a-n { color: #f6c177; }
.dxc-rose-pine-moon .a-tl { color: #e0def4; }
.dxc-rose-pine-moon .a-em { font-style: italic; }
.dxc-rose-pine-moon .a-st { font-weight: bold; }
.dxc-rose-pine-moon .a-tu { color: #c4a7e7; text-decoration: underline; }
.dxc-rose-pine-moon .a-tr { color: #9ccfd8; }
.dxc-rose-pine-moon .a-se { color: #3e8fb0; }
.dxc-rose-pine-moon .a-tt { color: #f6c177; font-weight: bold; }
.dxc-rose-pine-moon .a-tx { text-decoration: line-through; }
.dxc-rose-pine-moon .a-sp { color: #e0def4; }
.dxc-rose-pine-moon .a-in { color: #3e8fb0; }
.dxc-rose-pine-moon .a-sc { color: #3e8fb0; }
.dxc-rose-pine-moon .a-rp { color: #3e8fb0; }
.dxc-rose-pine-moon .a-cn { color: #3e8fb0; }
.dxc-rose-pine-moon .a-ex { color: #3e8fb0; }
.dxc-rose-pine-moon .a-pp { color: #3e8fb0; }
.dxc-rose-pine-moon .a-ch { color: #f6c177; }
.dxc-rose-pine-moon .a-cs { color: #f6c177; }
.dxc-rose-pine-moon .a-vm { color: #e0def4; }
.dxc-rose-pine-moon .a-fd { color: #ea9a97; }
.dxc-rose-pine-moon .a-tf { color: #c4a7e7; }
.dxc-rose-pine-moon .a-fc { color: #ea9a97; }
.dxc-rose-pine-moon .a-km { color: #3e8fb0; }
.dxc-rose-pine-moon .a-dr { color: #3e8fb0; }
.dxc-rose-pine-moon .a-rx { color: #f6c177; }
