.dxc-rustdoc-light {
  background: #ffffff;
  --bg: #ffffff;
  --surface: #f2f2f2;
  color: #000000;
  --fg: #000000;
  --accent: #ad7c37;
  --muted: #8e908c;
}
.dxc-rustdoc-light a-at { color: #c82829; }
.dxc-rustdoc-light a-co { color: #c82829; }
.dxc-rustdoc-light a-cb { color: #c82829; }
.dxc-rustdoc-light a-fb { color: #4271ae; }
.dxc-rustdoc-light a-f { color: #ad7c37; }
.dxc-rustdoc-light a-fm { color: #ad7c37; }
.dxc-rustdoc-light a-k { color: #8959a8; }
.dxc-rustdoc-light a-kc { color: #8959a8; }
.dxc-rustdoc-light a-ko { color: #8959a8; }
.dxc-rustdoc-light a-kd { color: #8959a8; }
.dxc-rustdoc-light a-ke { color: #8959a8; }
.dxc-rustdoc-light a-kf { color: #8959a8; }
.dxc-rustdoc-light a-ki { color: #8959a8; }
.dxc-rustdoc-light a-kp { color: #8959a8; }
.dxc-rustdoc-light a-kr { color: #8959a8; }
.dxc-rustdoc-light a-kt { color: #8959a8; }
.dxc-rustdoc-light a-ky { color: #8959a8; }
.dxc-rustdoc-light a-o { color: #8959a8; }
.dxc-rustdoc-light a-pr { color: #4271ae; }
.dxc-rustdoc-light a-p { color: #000000; }
.dxc-rustdoc-light a-pb { color: #000000; }
.dxc-rustdoc-light a-pd { color: #000000; }
.dxc-rustdoc-light a-ps { color: #ff9011; }
.dxc-rustdoc-light a-s { color: #718c00; }
.dxc-rustdoc-light a-ss { color: #718c00; }
.dxc-rustdoc-light a-tg { color: #3e999f; }
.dxc-rustdoc-light a-td { color: #3e999f; }
.dxc-rustdoc-light a-te { color: #3e999f; }
.dxc-rustdoc-light a-t { color: #ad378a; }
.dxc-rustdoc-light a-tb { color: #4271ae; }
.dxc-rustdoc-light a-tq { color: #ad378a; }
.dxc-rustdoc-light a-v { color: #000000; }
.dxc-rustdoc-light a-vb { color: #c82829; }
.dxc-rustdoc-light a-vp { color: #000000; }
.dxc-rustdoc-light a-c { color: #8e908c; }
.dxc-rustdoc-light a-cd { color: #8e908c; }
.dxc-rustdoc-light a-m { color: #3e999f; }
.dxc-rustdoc-light a-l { color: #b76514; }
.dxc-rustdoc-light a-n { color: #718c00; }
.dxc-rustdoc-light a-tl { color: #000000; }
.dxc-rustdoc-light a-em { font-style: italic; }
.dxc-rustdoc-light a-st { font-weight: bold; }
.dxc-rustdoc-light a-tu { color: #4271ae; text-decoration: underline; }
.dxc-rustdoc-light a-tr { color: #ad378a; }
.dxc-rustdoc-light a-se { color: #b76514; }
.dxc-rustdoc-light a-tt { color: #ad378a; font-weight: bold; }
.dxc-rustdoc-light a-tx { text-decoration: line-through; }
.dxc-rustdoc-light a-sp { color: #000000; }
.dxc-rustdoc-light a-in { color: #8959a8; }
.dxc-rustdoc-light a-sc { color: #8959a8; }
.dxc-rustdoc-light a-rp { color: #8959a8; }
.dxc-rustdoc-light a-cn { color: #8959a8; }
.dxc-rustdoc-light a-ex { color: #8959a8; }
.dxc-rustdoc-light a-pp { color: #8959a8; }
.dxc-rustdoc-light a-ch { color: #718c00; }
.dxc-rustdoc-light a-cs { color: #718c00; }
.dxc-rustdoc-light a-vm { color: #000000; }
.dxc-rustdoc-light a-fd { color: #ad7c37; }
.dxc-rustdoc-light a-tf { color: #ad378a; }
.dxc-rustdoc-light a-fc { color: #ad7c37; }
.dxc-rustdoc-light a-km { color: #8959a8; }
.dxc-rustdoc-light a-dr { color: #8959a8; }
.dxc-rustdoc-light a-rx { color: #718c00; }
