.dxc-solarized-dark {
  background: #002b36;
  --bg: #002b36;
  --surface: #143c46;
  color: #839496;
  --fg: #839496;
  --accent: #268bd2;
  --muted: #586e75;
}
.dxc-solarized-dark .a-at { color: #b58900; }
.dxc-solarized-dark .a-co { color: #2aa198; }
.dxc-solarized-dark .a-cb { color: #2aa198; }
.dxc-solarized-dark .a-fb { color: #268bd2; }
.dxc-solarized-dark .a-f { color: #268bd2; }
.dxc-solarized-dark .a-fm { color: #268bd2; }
.dxc-solarized-dark .a-k { color: #859900; }
.dxc-solarized-dark .a-kc { color: #859900; }
.dxc-solarized-dark .a-ko { color: #859900; }
.dxc-solarized-dark .a-kd { color: #859900; }
.dxc-solarized-dark .a-ke { color: #859900; }
.dxc-solarized-dark .a-kf { color: #859900; }
.dxc-solarized-dark .a-ki { color: #859900; }
.dxc-solarized-dark .a-kp { color: #859900; }
.dxc-solarized-dark .a-kr { color: #859900; }
.dxc-solarized-dark .a-kt { color: #859900; }
.dxc-solarized-dark .a-ky { color: #859900; }
.dxc-solarized-dark .a-o { color: #93a1a1; }
.dxc-solarized-dark .a-pr { color: #268bd2; }
.dxc-solarized-dark .a-p { color: #93a1a1; }
.dxc-solarized-dark .a-pb { color: #93a1a1; }
.dxc-solarized-dark .a-pd { color: #93a1a1; }
.dxc-solarized-dark .a-ps { color: #dc322f; }
.dxc-solarized-dark .a-s { color: #2aa198; }
.dxc-solarized-dark .a-ss { color: #cb4b16; }
.dxc-solarized-dark .a-tg { color: #268bd2; }
.dxc-solarized-dark .a-td { color: #268bd2; }
.dxc-solarized-dark .a-te { color: #268bd2; }
.dxc-solarized-dark .a-t { color: #b58900; }
.dxc-solarized-dark .a-tb { color: #b58900; }
.dxc-solarized-dark .a-tq { color: #b58900; }
.dxc-solarized-dark .a-v { color: #839496; }
.dxc-solarized-dark .a-vb { color: #d33682; }
.dxc-solarized-dark .a-vp { color: #839496; }
.dxc-solarized-dark .a-c { color: #586e75; font-style: italic; }
.dxc-solarized-dark .a-cd { color: #586e75; font-style: italic; }
.dxc-solarized-dark .a-m { color: #cb4b16; }
.dxc-solarized-dark .a-l { color: #6c71c4; }
.dxc-solarized-dark .a-n { color: #d33682; }
.dxc-solarized-dark .a-tl { color: #839496; }
.dxc-solarized-dark .a-em { font-style: italic; }
.dxc-solarized-dark .a-st { font-weight: bold; }
.dxc-solarized-dark .a-tu { color: #2aa198; text-decoration: underline; }
.dxc-solarized-dark .a-tr { color: #268bd2; }
.dxc-solarized-dark .a-se { color: #cb4b16; }
.dxc-solarized-dark .a-tt { color: #b58900; font-weight: bold; }
.dxc-solarized-dark .a-tx { text-decoration: line-through; }
.dxc-solarized-dark .a-sp { color: #839496; }
.dxc-solarized-dark .a-in { color: #859900; }
.dxc-solarized-dark .a-sc { color: #859900; }
.dxc-solarized-dark .a-rp { color: #859900; }
.dxc-solarized-dark .a-cn { color: #859900; }
.dxc-solarized-dark .a-ex { color: #859900; }
.dxc-solarized-dark .a-pp { color: #859900; }
.dxc-solarized-dark .a-ch { color: #2aa198; }
.dxc-solarized-dark .a-cs { color: #2aa198; }
.dxc-solarized-dark .a-vm { color: #839496; }
.dxc-solarized-dark .a-fd { color: #268bd2; }
.dxc-solarized-dark .a-tf { color: #b58900; }
.dxc-solarized-dark .a-fc { color: #268bd2; }
.dxc-solarized-dark .a-km { color: #859900; }
.dxc-solarized-dark .a-dr { color: #859900; }
.dxc-solarized-dark .a-rx { color: #2aa198; }
