.dxc-tokyo-night {
  background: #1a1b26;
  --bg: #1a1b26;
  --surface: #2c2d37;
  color: #a9b1d6;
  --fg: #a9b1d6;
  --accent: #7aa2f7;
  --muted: #565f89;
}
.dxc-tokyo-night a-at { color: #e0af68; }
.dxc-tokyo-night a-co { color: #ff9e64; }
.dxc-tokyo-night a-cb { color: #ff9e64; }
.dxc-tokyo-night a-fb { color: #7dcfff; }
.dxc-tokyo-night a-f { color: #7aa2f7; }
.dxc-tokyo-night a-fm { color: #7aa2f7; }
.dxc-tokyo-night a-k { color: #bb9af7; }
.dxc-tokyo-night a-kc { color: #bb9af7; }
.dxc-tokyo-night a-ko { color: #bb9af7; }
.dxc-tokyo-night a-kd { color: #bb9af7; }
.dxc-tokyo-night a-ke { color: #bb9af7; }
.dxc-tokyo-night a-kf { color: #bb9af7; }
.dxc-tokyo-night a-ki { color: #bb9af7; }
.dxc-tokyo-night a-kp { color: #bb9af7; }
.dxc-tokyo-night a-kr { color: #bb9af7; }
.dxc-tokyo-night a-kt { color: #bb9af7; }
.dxc-tokyo-night a-ky { color: #bb9af7; }
.dxc-tokyo-night a-o { color: #89ddff; }
.dxc-tokyo-night a-pr { color: #7aa2f7; }
.dxc-tokyo-night a-p { color: #a9b1d6; }
.dxc-tokyo-night a-pb { color: #a9b1d6; }
.dxc-tokyo-night a-pd { color: #a9b1d6; }
.dxc-tokyo-night a-ps { color: #89ddff; }
.dxc-tokyo-night a-s { color: #9ece6a; }
.dxc-tokyo-night a-ss { color: #f7768e; }
.dxc-tokyo-night a-tg { color: #f7768e; }
.dxc-tokyo-night a-td { color: #f7768e; }
.dxc-tokyo-night a-te { color: #f7768e; }
.dxc-tokyo-night a-t { color: #2ac3de; }
.dxc-tokyo-night a-tb { color: #2ac3de; }
.dxc-tokyo-night a-tq { color: #2ac3de; }
.dxc-tokyo-night a-v { color: #c0caf5; }
.dxc-tokyo-night a-vb { color: #f7768e; }
.dxc-tokyo-night a-vp { color: #e0af68; }
.dxc-tokyo-night a-c { color: #565f89; }
.dxc-tokyo-night a-cd { color: #565f89; }
.dxc-tokyo-night a-m { color: #7dcfff; }
.dxc-tokyo-night a-l { color: #ff9e64; }
.dxc-tokyo-night a-n { color: #ff9e64; }
.dxc-tokyo-night a-tl { color: #a9b1d6; }
.dxc-tokyo-night a-em { font-style: italic; }
.dxc-tokyo-night a-st { font-weight: bold; }
.dxc-tokyo-night a-tu { color: #7aa2f7; text-decoration: underline; }
.dxc-tokyo-night a-tr { color: #7dcfff; }
.dxc-tokyo-night a-se { color: #89ddff; }
.dxc-tokyo-night a-tt { color: #bb9af7; font-weight: bold; }
.dxc-tokyo-night a-tx { text-decoration: line-through; }
.dxc-tokyo-night a-sp { color: #a9b1d6; }
.dxc-tokyo-night a-in { color: #bb9af7; }
.dxc-tokyo-night a-sc { color: #bb9af7; }
.dxc-tokyo-night a-rp { color: #bb9af7; }
.dxc-tokyo-night a-cn { color: #bb9af7; }
.dxc-tokyo-night a-ex { color: #bb9af7; }
.dxc-tokyo-night a-pp { color: #bb9af7; }
.dxc-tokyo-night a-ch { color: #9ece6a; }
.dxc-tokyo-night a-cs { color: #9ece6a; }
.dxc-tokyo-night a-vm { color: #c0caf5; }
.dxc-tokyo-night a-fd { color: #7aa2f7; }
.dxc-tokyo-night a-tf { color: #2ac3de; }
.dxc-tokyo-night a-fc { color: #7aa2f7; }
.dxc-tokyo-night a-km { color: #bb9af7; }
.dxc-tokyo-night a-dr { color: #bb9af7; }
.dxc-tokyo-night a-rx { color: #9ece6a; }
