.dxc-zenburn {
  background: #3f3f3f;
  --bg: #3f3f3f;
  --surface: #4e4e4e;
  color: #dcdccc;
  --fg: #dcdccc;
  --accent: #efef8f;
  --muted: #7f9f7f;
}
.dxc-zenburn a-at { color: #dfaf8f; }
.dxc-zenburn a-co { color: #dca3a3; }
.dxc-zenburn a-cb { color: #dca3a3; }
.dxc-zenburn a-fb { color: #efef8f; }
.dxc-zenburn a-f { color: #efef8f; }
.dxc-zenburn a-fm { color: #efef8f; }
.dxc-zenburn a-k { color: #f0dfaf; }
.dxc-zenburn a-kc { color: #f0dfaf; }
.dxc-zenburn a-ko { color: #f0dfaf; }
.dxc-zenburn a-kd { color: #f0dfaf; }
.dxc-zenburn a-ke { color: #f0dfaf; }
.dxc-zenburn a-kf { color: #f0dfaf; }
.dxc-zenburn a-ki { color: #f0dfaf; }
.dxc-zenburn a-kp { color: #f0dfaf; }
.dxc-zenburn a-kr { color: #f0dfaf; }
.dxc-zenburn a-kt { color: #f0dfaf; }
.dxc-zenburn a-ky { color: #f0dfaf; }
.dxc-zenburn a-o { color: #dcdccc; }
.dxc-zenburn a-pr { color: #dcdccc; }
.dxc-zenburn a-p { color: #dcdccc; }
.dxc-zenburn a-pb { color: #dcdccc; }
.dxc-zenburn a-pd { color: #dcdccc; }
.dxc-zenburn a-ps { color: #dca3a3; }
.dxc-zenburn a-s { color: #cc9393; }
.dxc-zenburn a-ss { color: #dca3a3; }
.dxc-zenburn a-tg { color: #efef8f; }
.dxc-zenburn a-td { color: #efef8f; }
.dxc-zenburn a-te { color: #efef8f; }
.dxc-zenburn a-t { color: #dfdfbf; }
.dxc-zenburn a-tb { color: #dfdfbf; }
.dxc-zenburn a-tq { color: #dfdfbf; }
.dxc-zenburn a-v { color: #dcdccc; }
.dxc-zenburn a-vb { color: #dca3a3; }
.dxc-zenburn a-vp { color: #dcdccc; }
.dxc-zenburn a-c { color: #7f9f7f; }
.dxc-zenburn a-cd { color: #7f9f7f; }
.dxc-zenburn a-m { color: #dfaf8f; }
.dxc-zenburn a-l { color: #8cd0d3; }
.dxc-zenburn a-n { color: #8cd0d3; }
.dxc-zenburn a-tl { color: #dcdccc; }
.dxc-zenburn a-em { font-style: italic; }
.dxc-zenburn a-st { font-weight: bold; }
.dxc-zenburn a-tu { color: #8cd0d3; text-decoration: underline; }
.dxc-zenburn a-tr { color: #8cd0d3; }
.dxc-zenburn a-se { color: #dca3a3; }
.dxc-zenburn a-tt { color: #efef8f; font-weight: bold; }
.dxc-zenburn a-tx { text-decoration: line-through; }
.dxc-zenburn a-sp { color: #dcdccc; }
.dxc-zenburn a-in { color: #f0dfaf; }
.dxc-zenburn a-sc { color: #f0dfaf; }
.dxc-zenburn a-rp { color: #f0dfaf; }
.dxc-zenburn a-cn { color: #f0dfaf; }
.dxc-zenburn a-ex { color: #f0dfaf; }
.dxc-zenburn a-pp { color: #f0dfaf; }
.dxc-zenburn a-ch { color: #cc9393; }
.dxc-zenburn a-cs { color: #cc9393; }
.dxc-zenburn a-vm { color: #dcdccc; }
.dxc-zenburn a-fd { color: #efef8f; }
.dxc-zenburn a-tf { color: #dfdfbf; }
.dxc-zenburn a-fc { color: #efef8f; }
.dxc-zenburn a-km { color: #f0dfaf; }
.dxc-zenburn a-dr { color: #f0dfaf; }
.dxc-zenburn a-rx { color: #cc9393; }
